[2016-03-04 07:16] lburgazzoli opened #1 "add supoort for kar archive"

[2016-03-04 15:51] jvz opened #2 "Add support for using a pre-existing feature.xml"
There are two facets to this:

1. Include or merge together (if possible) `src/main/feature/feature.xml` (configurable location?) with the inline feature XML slurper thing into a kar file.
2. Allow the feature.xml file to be interpolated with gradle properties like how karaf-maven-plugin works. The standard interpolation was `${foo}` and `@foo@`.

[2016-03-07 15:04] lburgazzoli commented on #1
@eschizoid I've released v 0.0.11 which adds basic support for karaf kars :

[code]

[2016-03-08 01:51] eschizoid commented on #1
@lburgazzoli I'll give a try tomorrow morning :+1:

[2016-03-11 16:24] eschizoid commented on #1
@lburgazzoli Seem to be working, however i don't know how to add support for this `<repositry/>` element:

[code]

[2016-03-11 16:39] lburgazzoli commented on #1
[code]

[2016-03-11 16:52] eschizoid commented on #1
@lburgazzoli Working great, so i think we can close this ticket!

[2016-03-11 16:56] lburgazzoli commented on #1
do not get expanded by default by groovy ?

[2016-03-11 17:00] eschizoid commented on #1
Nope, attached the stack trace:

[code]

[2016-03-11 17:01] lburgazzoli commented on #1
Ok I will have a look, can you close this one ?

[2016-03-11 17:11] eschizoid commented on #1
@lburgazzoli My aplogies, i was using '.' instead of '_'. Everything working like a charm. Thank you so much.

[2016-03-11 17:12] eschizoid commented on #1
I don't have the authority to cle the ticket, but feel free.

[2016-03-11 17:12] #1 closed

[2016-03-11 17:12] lburgazzoli commented on #1
@eschizoid thx

[2016-03-12 17:43] eschizoid opened #3 "Incorrect feature.xml file inside KAR file"
The following configuration generates an incorrect `feature.xml` file:

[code]

The only content of the **feature.xml** file is the full path to it:

[code]

[2016-03-14 15:12] jvz opened #4 "Typo in build/karaf/feautures"
Features is spelt wrong in the generated files.

[2016-03-14 21:54] eschizoid commented on #3
@lburgazzoli Dont know if might be related. But when i execute `gradle clean build generateFeatures` the feature file is generated using on the following path:

`build/karaf/**feautures**/synergy-dependencies-4.0.0.xml`

Minor typo

[2016-03-15 07:51] lburgazzoli commented on #3
Dependencies are retrieved by default from gradle's runtime configuration so you need to define your dependencies as you normally do in gradle (and you also need to define repositories).

If needed, you can define you own configuration and add it to plugin's configuration list

[code]

[code]

[2016-03-15 07:52] #4 closed

[2016-03-15 08:15] lburgazzoli commented on #4
Fixed in v0.0.12

[2016-03-15 08:36] #3 closed

[2016-03-15 08:37] lburgazzoli commented on #3
Fixed by v0.0.13

[2016-03-15 20:07] eschizoid commented on #3
@lburgazzoli Looks better. What about multiple configurations, does the plugin supports something like the following

[code]

[2016-03-15 21:45] lburgazzoli commented on #3
It does support it already, just add multiple conflagration in feature definition like:

[code]

This will include dependencies from runtime, karaf and camel configurations, If you do not want runtime to be taken into account, you can do the following:

[code]

[2016-03-15 21:59] eschizoid commented on #3
@lburgazzoli How can i group multiple dependencies into a configuration?

[code]

[2016-03-15 22:15] eschizoid commented on #3
NMD i figure it out ;)

[2016-03-16 19:05] eschizoid opened #5 "GenerateKar task not working with some dependencies"
The following gradle configuration is failing:

[code]

The kar file is created when if I add the dependencies separately. However if I combine both of them I get the following stacktrace

[code]

[2016-03-16 20:14] #5 closed

[2016-03-16 20:18] lburgazzoli commented on #5
The problem is that commons-io:2.4 is transitive on jpasskit , I've fixed it in v0.0.14 by checking the existence of the file but best would be to exclude transitive dependencies in your dependencies/configurations block.

[2016-03-16 20:55] eschizoid commented on #5
Yeah release `0.0.14` is generating this tag:

[code]

And i only want:

<feature name="jpasskit"
			 description="Java Library for Apple PassBook Web Service API"
			 version="${jpasskit.version}">
		<bundle dependency="true">wrap:mvn:de.brendamour/jpasskit/${jpasskit.version}</bundle>
		<bundle dependency="true">mvn:com.google.guava/guava/${guava.version}</bundle>
		<bundle dependency="true">wra

[2016-03-16 21:19] lburgazzoli commented on #5
Potentially yes.

The plugin takes into account any dependency resolved by gradle including transitive ones. You can disable all the transitive deeps in dependencies/configurations blocks

[2016-03-16 22:24] eschizoid opened #6 "Latest version not generating KAR file"
The following command is no longer generating a kar file `./gradlew clean generateKar`. Feature file is getting generated correctly.

[2016-03-16 22:32] lburgazzoli commented on #6
you should add the kar block

[code]

[2016-03-16 22:33] #6 closed

[2016-03-16 22:33] eschizoid commented on #6
Sorry

[2016-03-16 22:40] eschizoid opened #7 "Add support for transitive dependency inclusion during generateKar task"
`maven-karaf-pluggin` supports including transitive dependencies during the creation of the kar file:

[code]

Excluding all transitive dependencies in the dependency block seems just to be a workaround.

[2016-03-16 23:04] lburgazzoli commented on #7
You can do it also in configuration blocks you can apply it to all the dependencies for a given configuration.

[2016-03-16 23:27] eschizoid commented on #7
Something like the following:

[code]

[2016-03-17 07:39] lburgazzoli commented on #7
Yep , or per configuration

[code]

[2016-03-17 12:05] lburgazzoli commented on #7
I've just released a v0.0.15 wich adds a little dsl for add multiple configurations to a feature overwriting the defaults:

[code]

[2016-03-17 14:08] eschizoid commented on #7
@lburgazzoli great I think that is more than enough. Thank you.

[2016-03-17 14:08] #7 closed

[2016-03-17 14:22] eschizoid opened #8 "Incorrect feature tag element."
When creating the kar file an extra `<feature>` element is getting generated in the xml file:

[code]

However the maven plugin generates only this:
[code]

Please see that there is no `<feature>` element for the second xml.

When deploying the kar file (karaf 3.0.4) the following stack appears:

[code]

Seems that for some reason the dependency is not getting resolved.

[2016-03-17 15:15] lburgazzoli commented on #8
Looks like there is a wrong element :

[code]

Should be
[code]

[2016-03-17 18:17] #8 closed

[2016-03-17 18:21] eschizoid opened #9 "Missing repository folder after the creation of kar file"
KAR file should have the following folder strcuture:

[code]

The final artifact does not have the repository folder and can't be deploy in karaf.

[2016-03-18 08:26] #9 closed

[2016-03-18 08:27] lburgazzoli commented on #9
Fix available in v0.0.16

[2016-03-18 15:20] eschizoid commented on #9
@lburgazzoli Thanks. Working fine with version `0.0.16`

[2016-03-19 15:31] joe-adams opened #10 "Example code doesn't seem to work"
Sorry if this isn't really a bug, but there isn't a lot of documentation.  I tried using the example, and I got "Could not find matching constructor for: com.github.lburgazzoli.gradle.plugin.karaf.features.model.FeatureDescriptor(org.gradle.api.internal.project.DefaultProject_Decorated)"

It looks like that class's constructor takes a project, so I tried doing "feature (project(':lparent:web:karaf

[2016-03-19 15:39] lburgazzoli commented on #10
Yeah, documentation is something I should work soon.
Can you post an example showing the problem ?

[2016-03-19 21:22] joe-adams commented on #10
karaf {
I do:

:parent:web:karaf-features:bundles-feature is that feature that should be included through a compile dependency.

I get:

[2016-03-21 07:58] lburgazzoli commented on #10
Can you post the full gradle.build and the project structure ?

[2016-03-21 13:07] yrashk opened #11 "Kar layout issue?"
I am not entirely sure about this issue, but while having a problem installing a KAR generated with this plugin (thanks for developing it, by the way!), I encountered the following fact.

If you look at https://karaf.apache.org/manual/latest/users-guide/kar.html it suggests that the KAR follows Maven repo structure, for example

[code]

Where groupId `java.portlet` is resolved to `javax/portlet'.

[2016-03-21 13:28] yrashk commented on #11
So I went ahead and put your plugin into buildSrc to play with it. The problem I mentioned above got resolved with the proposed change. The change so far is:

[code]

I am still running into another issue which is likely unrelated.

[2016-03-21 13:32] lburgazzoli commented on #11
Can you submit a PR ?

[2016-03-21 13:33] yrashk commented on #11
I sure can! As soon as I am done investigating that other problem (it might still be *somewhat* related), I will submit a PR.

[2016-03-21 13:41] lburgazzoli commented on #11
I'd really appreciate your effors

[2016-03-21 13:44] yrashk commented on #11
I submitted #12 but I am still fighting another issue. One of my dependencies' dependency, even though properly included into the kar, is giving an error:

[code]

I am not quite sure what's happening there :-(

[2016-03-21 13:52] lburgazzoli commented on #11
any change to get the full build.gradle ?

[2016-03-21 13:52] yrashk commented on #11
I think I have a clue. de.javakaffee.kryo-serializers/0.28.0 has a strict requirement for com.esotericsoftware.kryo (in their MANIFEST.MF)

[code]

Yet another library that I use requires

[code]

Which is excluded in the above. Will try to figure this out, but from the looks of it, it's unrelated to this plugin.

[2016-03-21 13:53] lburgazzoli commented on #11
Great, if you ahve any issue let me now and again, PRs are more than welcome

[2016-03-21 14:12] yrashk commented on #11
For the record (if anybody google finds this issue), the above problem can seemingly be fixed with this in build.grade:

[code]

Now, the last issue I am fighting is that after a successful installation, my feature appears twice in `feature:list -i`. @lburgazzoli have you ever seen something like this or have an idea why that might be the case?

[2016-03-21 14:22] lburgazzoli commented on #11
Have you un-installed the feature before ?

[2016-03-21 14:23] yrashk commented on #11
Ok, the double installation got resolved, too. Apparently I had holahub repo listed twice after initial failed attempts.

[2016-03-21 14:23] lburgazzoli commented on #11
yep that could happen

[2016-03-21 14:38] #11 closed

[2016-03-21 14:43] yrashk opened #13 "WAR support"
In my OSGi application, I have mostly regular bundles (JARs) and just one war. Right now, the plugin happily puts the JAR into the KAR, however, this is not what I want it to do. I either have to leave the dependency out of the feature file and then install it manually, but I'd rather automate this.

I think the issue is twofold:

1. Feature needs to be generated properly, here's an example of usi

[2016-03-21 14:47] lburgazzoli commented on #13
In the old version it was supported, let me check

[2016-03-21 14:51] yrashk commented on #13
It is actually more complex, I need this particular component to be
included BOTH as a regular bundle (jar, for interfaces to be used by other
components, primarily) and a war (war). They will have different symbol
names.

On Mon, Mar 21, 2016 at 7:47 AM, Luca Burgazzoli <notifications@github.com>
wrote:

--
Y.

[2016-03-21 15:02] jvz opened #14 "Cannot use project() objects in feature configurations"
Here's what I'm trying to do. I want to make a configuration that corresponds to all my gradle projects that are being combined into a kar file. I'm not very familiar with the "Gradle way" of doing things, so what I tried was doing what I've done with the compile configuration:

[code]

When I try to run `gradle clean build`, I get an error saying that no file could be found named `module1/build/l

[2016-03-21 15:32] lburgazzoli commented on #13
are you in multi-project setup ? i.e. the feaure plugin is applied only to a subproject

[2016-03-21 15:52] lburgazzoli commented on #14
You are absolutely right.

At the moment I'm refactoring/improving what was before include in gradle-karaf-features-plugin and not everything has been included.

[2016-03-21 16:03] yrashk commented on #13
Yes, it's a multi-project setup.

On Mon, Mar 21, 2016 at 8:32 AM, Luca Burgazzoli <notifications@github.com>
wrote:

--
Y.

[2016-03-21 16:43] lburgazzoli commented on #14
I've released v0.0.18 that shoudl address this, can you please confirm ?

[2016-03-21 16:51] yrashk commented on #13
Any idea at least where I can start with this?

On Mon, Mar 21, 2016 at 9:03 AM, Yurii Rashkovskii <yrashk@gmail.com> wrote:

--
Y.

[2016-03-21 16:51] lburgazzoli commented on #13
I've added better support for WAR and multi project setups in 0.0.18 however I do not know how to handle the jar + war scenario, for the plugin to work it would be enough to have the project listed twiice with different scope but I do not know how to do so in gradle.

[2016-03-21 16:59] yrashk commented on #13
How do I do the war (no jar) scenario?

On Mon, Mar 21, 2016 at 9:51 AM, Luca Burgazzoli <notifications@github.com>
wrote:

--
Y.

[2016-03-21 17:31] jvz commented on #14
Yup, that version works as expected. The sha1 hashes also match between the build/libs/foo.jar and the version in the kar file. Thanks so much!

[2016-03-21 17:31] #14 closed

[2016-03-21 17:32] lburgazzoli commented on #13
Well, one thing has improved one not yet :-)

If you have a WAR in your dependencies included as:
[code]

Then the plugin will render the url properly however it can't handle war dependencies as projects at the moment

[2016-03-21 17:33] yrashk commented on #13
I just decided to switch to a plain JAR, I think that works even better for
me (WARs lose Service-Components for some reason with Gradle war plugin)

On Mon, Mar 21, 2016 at 10:32 AM, Luca Burgazzoli <notifications@github.com>
wrote:

--
Y.

[2016-03-21 17:40] lburgazzoli commented on #13
I will keep this ticket open to check how to improve war deps management

[2016-03-21 18:04] yrashk opened #15 "KAR not being properly updated?"
I just found out that the plugin might not be updating the KAR file properly.

Imagine I had one KAR build done:

[code]

Then I changed one source file, regenerated KAR (gradle generateKar) and we can
see that the timestamp has changed, but the size didn't:

[code]

Now, if I clean it up:

[code]

And rebuild it again, then the file is new:

[code]

[2016-03-22 07:34] lburgazzoli commented on #15
I did something similar, and that's strange as if you look at the gradle report it shows that the module2 (the  one I've changed) has been rebuilt so the kar should have been amended as well:

[code]

I need to investigate a little bit more

[2016-03-23 00:02] yrashk commented on #15
May be the jar was updated but your plugin somehow didn't pick up changed
jar file somehow? Just spitballing... happy to help, this is a minor but
annoying issue :)

On Tue, Mar 22, 2016 at 12:34 AM, Luca Burgazzoli <notifications@github.com>
wrote:

--
Y.

[2016-03-23 14:51] jvz commented on #2
By the way, I've since migrated to doing it all in-gradle, but this feature is still useful for users migrating from the maven karaf plugin.

[2016-03-23 15:02] lburgazzoli commented on #2
Yep, I hope to have time to implement it once main functionalities are stable and documented

[2016-03-23 16:16] #15 closed

[2016-03-23 16:18] lburgazzoli commented on #15
v0.0.20 released

[2016-03-23 18:04] yrashk commented on #15
Thanks a lot!!

On Wed, Mar 23, 2016 at 9:18 AM, Luca Burgazzoli <notifications@github.com>
wrote:

--
Y.

[2016-03-23 21:27] jvz opened #16 "Allow customization of kar file name"
In the java plugin, I can set `jar.archiveName = 'foo.jar'` to override the default artifact name. I'd like to be able to do the same with kar files. Right now, I just have a Copy task that renames the file:

[code]

[2016-03-24 07:30] #16 closed

[2016-03-24 07:32] lburgazzoli commented on #16
From v0.0.21 :

[code]

[2016-03-24 14:16] jvz commented on #16
Thanks again!

[2016-03-24 14:23] jvz commented on #16
Notes to self (and others):

[code]

And the .kar extension is automatically appended.

[2016-03-24 17:21] mbelling opened #17 "Feature task does not include own bundle"
I have a project that I am trying to create a feature and KAR for.  When I run the build, it generates the feature and the KAR, but the feature does not include the bundle for the project it is in, and as a result, the KAR also does not include the bundle.  I am using version 0.0.21, built locally.

I understand things are still under development, but I am more asking to make sure I did not do any

[2016-03-24 18:21] mbelling commented on #17
From looking at the code, I found the 'includeProject' flag, but when I tried to set it to true:

[code]

[2016-03-30 09:45] #17 closed

[2016-03-30 09:46] lburgazzoli commented on #17
Fixed in v0.0.22
includeProject moved to features block

[2016-03-30 12:53] #13 closed

[2016-03-30 12:54] lburgazzoli commented on #13
Solved in v0.0.23

[code]

[2016-03-30 12:58] mbelling commented on #17
Thanks for the update.  Do you still publish your plugin to a maven repo someplace?  The latest I have been able to find is v0.0.15.

[2016-03-30 13:01] lburgazzoli commented on #17
Not at the moment, I plan to re-publish it to maven central once reached a stable level.

[2016-04-12 14:55] lburgazzoli opened #18 "Support for Capabilities"
[code]

[2016-04-12 15:18] lburgazzoli commented on #18
@eschizoid I'm starting adding some support for capabilities, here an initial example of the DSL:

[code]

And the result:

[code]

How does it look ?
Can you provide some more concrete examples ?

[2016-04-20 18:09] yrashk opened #19 "Adding bundle instructions in the features"
I have a transitive dependency that results in a bundle line like this:

[code]

However, since it is not an OSGi package, and I [desperately] need to attach a fragment to it, I need to assign a symbolic name to it, like this:

[code]

However, I can't quite figure out how this should be done with this plugin.

I tried different variations of this but none worked:

[code]

Any advice? Thanks!

[2016-04-20 18:37] lburgazzoli commented on #19
this:

[code]

Should do the trick

[2016-04-20 18:39] yrashk commented on #19
It did! Thanks, that was a lifesaver! :) Eventually, I will be happy to help you writing some really good docs on this plugin.

[2016-04-20 18:40] yrashk commented on #19
I suspect that it is still a tad wrong, however. The separator for instructions should be a dollar sign ($), not  a question mark, unless there's something else going on in that area.

[2016-04-20 18:41] yrashk commented on #19
See this https://ops4j1.jira.com/wiki/display/paxurl/Wrap+Protocol

Thoughts?

[2016-04-20 20:04] #19 closed

[2016-04-20 20:06] lburgazzoli commented on #19
Adding doc would be really appreciated ;)

[2016-04-20 20:07] lburgazzoli commented on #19
and btw, the wrap = true might be redundant

[2016-04-25 00:34] yrashk opened #21 "Support for prerequisite features"
This is something we should probably consider supporting:

[code]

It got documented in 4.0.5 https://github.com/apache/karaf/blob/6a9ca438ccf284cd5a36b2e51768172d21290110/manual/src/main/asciidoc/developer-guide/creating-bundles.adoc

https://github.com/apache/karaf/commit/6a9ca43

Thoughts?

[2016-04-26 14:04] lburgazzoli commented on #21
I will add the possibility to set attributes to features as for bundle, stay tuned ;)

[2016-04-28 15:13] #21 closed

[2016-04-28 15:15] lburgazzoli commented on #21
Available as v0.0.28

[code]

[2016-05-13 20:17] jvz opened #22 "Add support for referencing config files"
Best example I can find is [from Karaf Cellar](https://github.com/apache/karaf-cellar/blob/master/assembly/src/main/resources/features.xml). The configfile element.

Ideally, I'd like to be able to embed config files into my kar file as well, but I'm not sure how to do that even with the maven plugin.

[2016-05-17 15:19] lburgazzoli commented on #22
in version v.0.0.29 I've added support for configfile element

[code]

[code]

If you find a way to include a file in kar, ping me ;)

[2016-05-17 15:28] jvz commented on #22
I'd imagine the config file is referenced the same way a feature file is with that non-jar mvn: URI. I'll see if I can experiment a little bit.

[2016-05-17 16:02] lburgazzoli commented on #22
it may be enough to copy it into the kar following maven coordinate, let me think about the dsl

[2016-05-19 14:22] #22 closed

[2016-05-19 14:25] lburgazzoli commented on #22
In version v.0.0.30 you can do the following:

[code]

Then the feature will be as before:

[code]

And the KAR will looks like:
[code]

[2016-05-23 09:11] lburgazzoli commented on #18
@eschizoid any feedback on this ?

[2016-05-24 22:22] eschizoid commented on #18
@lburgazzoli Let me give it a shot. Sorry for my late reply.

[2016-05-25 07:48] lburgazzoli commented on #18
@eschizoid no worries, take your time

[2016-05-26 21:16] eschizoid commented on #18
@lburgazzoli Working great !!

[2016-05-27 07:12] lburgazzoli commented on #18
Can I close it ?

[2016-05-27 17:48] eschizoid commented on #18
Yup feel free.

[2016-05-27 18:18] #18 closed

[2016-07-19 03:19] yrashk opened #23 "Stack overview during deps walk with a particular dependency"
When I have this dependency in one of my subprojects:

[code]

the plugin throws `java.lang.StackOverflowError` (see below). As long as the dependency is removed, everything works just fine. Not exactly sure what's the culprit just yet.

[code]

[2016-07-19 05:30] yrashk commented on #23
I think I have an idea on what's happening.

[jcabi-github](http://mvnrepository.com/artifact/com.jcabi/jcabi-github/0.28) depends on [jcabi-aspects](http://mvnrepository.com/artifact/com.jcabi/jcabi-aspects/0.22.5), which depends on [jcabi-log](http://mvnrepository.com/artifact/com.jcabi/jcabi-log/0.17), which depends on jcabi-aspects again...

[2016-07-19 07:57] #23 closed

[2016-07-19 08:07] lburgazzoli commented on #10
Closed as no feedback given

[2016-07-19 08:07] #10 closed

[2016-07-19 08:07] lburgazzoli commented on #23
v0.0.32 released

[2016-08-09 15:25] jvz opened #25 "Can't override configurations in karaf/features/feature/configurations"
I get the error:

Cannot set the property 'configurations' because the backing field is final.

Snippet:

[code]

Though if the way of doing this has changed, please let me know. I haven't upgraded my copy of this plugin in a while, so I lost track of recent developments.

[2016-08-09 15:31] lburgazzoli commented on #25
It should be something like ``` configurations 'jackson' ``` now

[2016-08-09 15:49] lburgazzoli commented on #25
@jvz let me know it that solves the issue

[2016-08-09 17:02] jvz commented on #25
Yes, that works, thanks.

[2016-08-09 17:02] #25 closed

[2016-09-26 10:56] protenhan opened #26 "<configfile /> element generation is invalid for Karaf 4"
When generating a <configfile /> element into the feature xml the generated xml contains an attribute that is named ```"filename="foo/bar"```. However, the attribute must be named ```finalname="foo/bar```.

See also the http://www-eu.apache.org/dist/karaf/documentation/4_x.html#Featureconfigurationfiles

[2016-09-26 11:11] #26 closed

[2016-09-26 11:13] lburgazzoli commented on #26
Should be fixed in v0.0.41

[2016-09-26 11:27] protenhan commented on #26
Thank you for the quick fix 👍

[2016-10-03 07:18] niclash opened #27 "MvnProtocolParser.groovy"
Karaf gets its MVN protocol from "Pax URL" project, and perhaps you investigate how to leverage that library to get the full scope of URL support that Karaf has.

See https://ops4j1.jira.com/wiki/display/paxurl/Mvn+Protocol for "mvn" protocol and https://ops4j1.jira.com/wiki/display/paxurl/Documentation for all the gory details.

[2016-10-03 07:32] lburgazzoli commented on #27
Can you tell me what would be a use case ?

[2016-10-03 07:43] niclash commented on #27
Not really, what I noticed is that you try to parse mvn: protocol, which Karaf also understands, but it is probably not doing the same thing. By using Pax URL, you will get the same result.

[2016-10-03 07:43] niclash commented on #27
I view this as a "suggestion", nothing more.

[2016-10-03 07:51] lburgazzoli commented on #27
Yep I will have a look.
I've explored a number of option but every one was too much for the use case

[2016-10-07 20:47] mbelling opened #28 "Support for excluding specific bundles"
Occasionally I will depend on two libraries that through their transitive dependencies will include bundles with conflicting exports.  In the old gradle karaf features plugin there was the ability to define a bundle with 'include=false' in order to not include the bundle, which I would use for the transitive dependency that I did not want included in the feature.  Is there a way to do the same in

[2016-10-09 07:16] lburgazzoli commented on #28
I have decide to leverage gradle's features as much as possible so if you want to exclude a dependency, you should do it using gradle configurations, like:

[code]

[2016-10-09 08:21] lburgazzoli commented on #27
Done in 0.0.42, can you check it does not break your build ? :)

[2016-10-09 09:03] niclash commented on #27
The existing project generated the identical Karaf Features repository (~2300 lines worth).

[2016-10-09 09:05] lburgazzoli commented on #27
Great, thx for the suggestion

[2016-10-09 09:05] #27 closed

[2016-10-09 09:05] niclash commented on #27
Unfortunately, I have forgotten why I was looking at this in the first place, probably to add support for OSGi directives into wrap: protocol.

[2016-10-10 14:06] mbelling commented on #28
That makes sense, thank you.

[2016-10-10 14:06] #28 closed

[2016-10-14 12:49] dixiesraj opened #30 "Add support to upload features.xml to maven repository"
Hello,
First, **Great job!!!** with this plugin. Saved so much of time and learnt things can be made better than what I have.

On the request, is there a way to upload the generated features xml on to a mvn respository similar to karaf-maven plugin?

~Dixie.

[2016-10-14 13:07] lburgazzoli commented on #30
It should be possible but it should do it already as the generated feature is added to the archives to install, it it possible to have a sample of what you use to upload your project to the repo ?

[2016-10-14 13:09] yrashk commented on #30
I use Gradle's maven publishing to publish features, seems to be sufficient!
On Fri, Oct 14, 2016 at 8:07 PM Luca Burgazzoli <notifications@github.com>
wrote:

[2016-10-14 13:56] lburgazzoli commented on #30
@yrashk do you have any specific config to make it working ? or does it work out of the box ?

[2016-10-14 13:57] yrashk commented on #30
I'll check later today or tomorrow when I get to my computer
On Fri, Oct 14, 2016 at 8:56 PM Luca Burgazzoli <notifications@github.com>
wrote:

[2016-10-14 14:43] yrashk commented on #30
So this is basically what I do:

[code]

Does this help at all?

[2016-10-14 15:36] dixiesraj commented on #30
@yrashk Awesome. I did it the same way using publishing then used uploadArchives task like this

[code]

[2016-10-14 15:42] lburgazzoli commented on #30
@dixiesraj  does it work ?

[2016-10-14 15:49] dixiesraj opened #31 "Auto generate feature capabilitiy"
Hello,

I have a bundle with Require-Capability: headers requiring multiple "osgi.service;" services with  **effective:=active**.

When I tried the capability option as below

[code]

I expected the generated feature xml to have all the capabilities, but I see only the last entry viz. io.dartle.apis.service2. I think It is overwritten.

Need advice on the following:
1. How to add multiple service

[2016-10-14 15:50] dixiesraj commented on #30
@lburgazzoli Yes it works. Thanks again.

[2016-10-14 15:55] lburgazzoli commented on #31
1. I think it is not possible now, I'll have a look soon
2. It is not possible at the moment but if you have any suggestion I'd be more than happy to implemnt it, or merge your PR ;)

[2016-10-14 15:56] lburgazzoli commented on #30
great

[2016-10-14 15:56] #30 closed

[2016-10-14 15:57] yrashk commented on #31
You can define a List-typed capability on a bundle instead, using an
instruction, either in the bundle being built or by overriding it through
pax wrap
On Fri, Oct 14, 2016 at 10:55 PM Luca Burgazzoli <notifications@github.com>
wrote:

[2016-10-14 16:04] dixiesraj commented on #31
@lburgazzoli Sure, let me go through the code by end of this month.
@yrashk  you think the following would work?

[code]

[2016-10-14 16:43] dixiesraj commented on #31
Hello,

Here is what I have done,

1. Changed the xsdVersion to 1.2
2. Removed the capabilities
3. Then updated the org.apache.karaf.features.cfg xml to disable resolution (temporarily)

~Dixie

[2016-10-15 05:02] yrashk opened #32 "Differently classified dependencies get conflated"
I have these dependencies:

[code]

However, in features they get conflated into one:

[code]

Is there anything that can be done about this?

[2016-10-15 10:02] lburgazzoli commented on #32
smells like a bug, I think I need to add  more fields for hash/equality check.

[2016-10-15 10:23] yrashk commented on #32
By the way, there's also an additional issue here:

the plugin will generate

[code]

however, because of the `classifier` type it should generate

[code]

Failure to do so results in `Could not find artifact ca.uhn.hapi.fhir:hapi-fhir-testpage-overlay:jar:2.0`

[2016-10-17 08:45] lburgazzoli commented on #32
If you have time, can you send a PR with a failing example ?
I can have a look later today

[2016-10-25 13:24] lburgazzoli commented on #32
I'm unsure how to fix it as dependencies with same GAV are conflated by gradle, see https://discuss.gradle.org/t/dependencies-same-gav-but-different-type-classifier/20112.

As workaround you can create different configurations, like:

[code]

[2016-11-17 21:24] yrashk opened #34 "Different versions of the same artifact get conflated"
I have a dependency on `com.google.guava:guava:20.0` and some other dependencies have a transitive dependency on `com.google.guava:guava:19.0`. When I generate a feature file, I only get this:

[code]

Is there any way we can support multiple versions of the artifact to satisfy the dependencies? After all, isn't OSGi supposed to be a solution to this problem in the first place :)

[2016-11-17 21:34] lburgazzoli commented on #34
Can you provide an example fir a lazy man?

[2016-11-17 21:37] yrashk commented on #34
This combination:

[code]

will carry both 19.0 (from graphql-java-servlet) and 20.0 (explicit)

Does this help?

[2016-11-17 22:17] yrashk commented on #34
So what seemingly worked for now is adding a special configuration (`extra`) and doing

[code]

but this is extremely unobvious

[2016-11-18 12:34] lburgazzoli commented on #34
I think the issue is that guava:19.0 is "promoted" to guava:20.0:

[code]

Need to check how the code handles it right now.

[2016-11-18 13:41] lburgazzoli commented on #34
So yes, the problem is that gradle resolves the conflict and promotes guava:20.0 so in the resolved dependencies I do not have a clear reference to guava:19.0, I would need to check the resolution for each dependency and check if it has a conflict one and eventually take it into account.

Then the problem is that gradle the discarded dep does not have an associated file so it may make it more comp

[2016-12-13 20:09] lburgazzoli commented on #32
@yrashk

I've committed some changes related to this issue but I'm not sure to have time to test it properly this week, if you have time, can you take a look ? You need to build the plugin from sources.

[2016-12-16 13:02] #32 closed

[2017-02-10 15:04] u650080 opened #35 "resolve dependencies from gradle m2 cache not maven local cache"
Hi, we are trying to use your plugin with thirdparty dependencies resolving from our local gradle cache and not the maven local cache. We use artifactory resolver to populate the gradle cache and not mavenLocal.

Can this be configured in your karaf plugin ? How can we achieve this by setting the resolution dependency location to the gradle cache which contains all of our dependencies.

Gradle err

[2017-02-10 15:29] lburgazzoli commented on #35
The plugin relies on gradle to resolve the dependencies so everything that gradle can resolve should be resolvable by the plugin.

Are your dependencies listed using gradle dependencies  ?

[2017-02-10 18:53] u650080 commented on #35
Yes, this is from of build.gradle
dependencies {
    compile 'org.apache.sshd:sshd-core:1.3.0'
    compile 'org.apache.servicemix.bundles:org.apache.servicemix.bundles.oro:2.0.8_6'
    compile 'org.bouncycastle:bcpkix-jdk15on:1.55'

    testCompile 'junit:junit:4.11'
    testCompile 'org.mockito:mockito-all:1.10.19'
}
And we can see those in gradle cache

[2017-02-10 19:36] u650080 commented on #35
# this is the example of gradle file:
buildscript {
    repositories {
        maven {
            url = "http://orbw-artifactory.ca.alcatel-lucent.com:8081/artifactory/plugins-release"
        }

    }
    dependencies {
        classpath 'com.github.lburgazzoli:gradle-karaf-plugin:0.0.+'

    }
}

apply plugin: 'java'
apply plugin: 'maven'
apply plugin: 'com.github.lburgazzoli.karaf'

dependenci

[2017-02-10 21:36] lburgazzoli commented on #35
Can you list your maven repo also outside the buildscript ?

[2017-02-10 21:37] u650080 commented on #35
I tried with version 0.0.17 and it worked, we are using gradle 2.11

[2017-02-11 05:17] lburgazzoli commented on #35
did you test with the repo listed also outside buildscript ?

[2017-02-13 15:13] u650080 commented on #35
When building with plugin version 0.44 (or 0.19+) the local maven repo is empty ~/.m2/repository

Can you try with an empty .m2 directory with the example we provided, you will see that it works correctly with older version 0.17

[2017-02-13 15:26] u650080 commented on #35
Tried it defining maven repo outside of the buildscript section and your plugin latest version 0.44 is now working.

Thanks for your help!

[2017-02-13 15:26] #35 closed

[2017-02-13 15:26] lburgazzoli commented on #35
I will in the coming days but in the meantime can you perform the task I've asked:

- give me the output of gradle dependencies
- test by defining dependencies repository outside the buildscript block

[2017-02-21 15:39] u650080 opened #37 "copy config file in kar with wrong path"
Hi ,
when I try to use your example for config file :
// Add configFile entry and copy a local file to the kar repository
            configFile {
                filename = "/etc/hazelcast-clustered.xml"
                file     = file("etc/hazelcast-clustered-defaults.xml")
                uri      = "mvn:org.apache.karaf.cellar/apache-karaf-cellar/${project.version}/xml/hazelcast-clustered"

[2017-02-21 16:31] u650080 commented on #37
Had a look at your code, found the issue and here is a fix:

 gradle-karaf-plugin/src/main/groovy/com/github/lburgazzoli/gradle/plugin/karaf/kar/KarafKarTask.groovy

Function protected void copy() { (line 44)
Diff (lines 70-87):

            feature.configFiles.each {
                if (it.filename && it.uri && it.file) {
                    def dep = MvnProtocolParser.parse(it.uri)

[2017-02-21 16:39] lburgazzoli commented on #37
can you open a pr ?

[2017-02-21 16:46] u650080 commented on #37
no , I can't

[2017-02-21 16:51] u650080 commented on #37
I did it ...

[2017-02-21 20:47] mksriram opened #39 "gradle multi-project build fails to resolve local dependency"
Scenario

We have two modules using karaf plugin.

Module A has a compile time dependency on Module B.

In a multi project build scenario,

* What went wrong:
A problem occurred configuring project ':,module-a'.

Individually both the modules compile fine. Just that the multi project build fails with the above error.

[2017-02-21 21:38] lburgazzoli commented on #39
Any chance to open a PR with a failing test case? Or provide a github repo to quickly test it?

[2017-02-22 13:36] lburgazzoli commented on #37
Do you mind having a look at MvnProtocolParser as well ?
Looks like it's behaving not as I'd expect

[2017-02-22 14:10] u650080 commented on #37
I changed MvnProtocolParser file to remove protocol portion from group id

[2017-02-22 14:13] u650080 commented on #37
but do you use this MvnProtocolParser  to generate feature files?  you need to add protocol(mvn:) in feature file.

[2017-02-22 16:46] lburgazzoli commented on #37
I've released a new snapshot using a different solution so if the pax-url changes how it render the group id (i.e. it removes the mvn: prefix), the plugin should work without changes, can you test it ?

https://oss.sonatype.org/content/repositories/snapshots/com/github/lburgazzoli/gradle-karaf-plugin/0.0.45-SNAPSHOT/

[2017-02-22 18:56] u650080 commented on #39
it worked very well, when do you release it?
Thanls

[2017-02-22 19:01] u650080 commented on #39
wrong window:( ignore what I wrote here , it was for issue 4

[2017-02-22 19:01] u650080 commented on #37
it worked very well, when do you release it?
Thanks

[2017-02-22 21:31] lburgazzoli commented on #37
Hope tomorrow

[2017-02-23 03:35] cetra3 opened #41 "Adding Repositories to Features"
You should be able to add repositories to the features file:

[code]

[2017-02-23 06:38] lburgazzoli commented on #41
You should be able to add repositories like:

[code]

Let me know if it does not work

[2017-02-23 06:48] lburgazzoli commented on #37
v0.0.45 has been released, already available on gradle plugins and soon on maven central.

[2017-02-23 06:48] #37 closed

[2017-02-23 13:26] u650080 commented on #37
thanks

[2017-02-24 03:13] cetra3 commented on #41
Appears to be working.  Maybe it should be added to the examples.   Do you want a PR?

[2017-02-24 06:48] lburgazzoli commented on #41
yes please

[2017-03-13 11:51] tonit commented on #2
Hi, you may prioritize this again since even karaf core developers tend to hand-roll feature.xmls these days. The only thing for your plugin would be to support extend the dsl to support this either by configuration or convention (say, pick up the feature.xml at a known location). You may also include a way to disable merging (as discussed in this item). All i really would need is a way to tell th

[2017-03-13 11:57] tonit opened #43 "whitelisting bundles in feature"
Maybe its just my gradle noob status but shouldn't it be really simple to only pick a handful of subprojects to be included in your feature.xml.
Right now, i need to maintain a quite large blacklist of bundles like so:

See, in my case the blacklist is quite large where the whitelist (read below) would be small. Also there is the danger that bundles get included at some point without changing the

[2017-03-13 12:12] lburgazzoli commented on #43
As today the plugin relies on gradle configurations so if you need to customize what the plugin uses to make the features/kar, you can create a new configuration and use it, something like:

[code]

This gives you the all the power gradle has when composing configurations.

Is that what you are looking for ?

[2017-03-13 12:42] ANierbeck opened #44 "add prerequisite flag to feature"
this is especially helpful for the wrap feature.

[2017-03-13 12:54] lburgazzoli commented on #44
It should already been there:

[code]

It should generate something like:

[code]

[2017-03-13 12:57] tonit commented on #43
i see.. let me try. Thanks for your quick response!

[2017-03-13 13:02] lburgazzoli commented on #43
Of course I can evaluate to add some more logic but I want to reuse gradle's stuffs as much as possible :)

[2017-03-13 13:49] ANierbeck commented on #44
ok ... seems to work thanks

[2017-03-13 13:49] #44 closed

[2017-03-13 13:50] lburgazzoli commented on #44
Yeah I know, the project lacks documentation

[2017-03-24 21:41] JRhoades22 opened #45 "Add support for karaf feature configuration file override attribute."
Currently the configuration file closure doesn't allow for the override attribute to be set. It would be helpful to be able to set this attribute when producing Karaf feature files.

[2017-04-03 09:03] tonit opened #47 "Status of Karaf custom distribution?"
Hey,
is there any work already done to create custom karaf distribution with the gradle-karaf-plugin?

[2017-04-03 09:05] lburgazzoli commented on #47
I started some initial work but not yet done nor on github, lack of time.
Hope to resume working on it later this month, (any help would be really appreciated)

[2017-04-03 12:32] tonit commented on #47
Thanks, Luca!
Yeah, would be glad to help. I am coming from a maven world, so my groovy is in its infancy. But of cause can help with OSGi, Karaf issues and test things.
Let me know when you have some branch to look at..

PS: with respect to groovy, i have i hopes for kotlin as the future gradle dsl.

[2017-04-04 01:04] mbelling commented on #47
I've been interested in this for a while, as we are currently in need of creating karaf distributions but have to resort to a separate maven project for that step of the build.

When I was thinking about the implementation of the plugin it seemed like the gradle distribution plugin was a good starting point.   https://docs.gradle.org/current/userguide/distribution_plugin.html

[2017-05-15 12:51] lburgazzoli commented on #43
@tonit can I close this issue ?

[2017-05-15 12:52] lburgazzoli commented on #41
@cetra3 have you had any time to send a pr ?

[2017-05-15 12:54] lburgazzoli commented on #34
For the moment the only way to make it working is to use a special configuration for the extra stuffs

[2017-05-15 12:54] #34 closed

[2017-05-15 12:55] lburgazzoli commented on #39
Any chance to get a reproducer ?

[2017-05-15 20:02] mksriram commented on #39
I will try to get a github sample this week. Thanks.

[2017-05-15 22:55] cetra3 commented on #41
@lburgazzoli my apologies. I will send one today

[2017-05-16 04:51] #41 closed

[2017-05-28 00:10] ieugen opened #49 "Add regular exception / ant style pattern matching support for bundles"
Hello,

I'm using the plugin to build a feature for Apache Oak and Apache Sling. Some bundles from some features need to be marked as dependencies.

It would be easier if we could do that using an regular expression or event better ant style pattern matching (ant patterns are much simpler).

For
[code]

It would be nice to have:
[code]

[1] https://ant.apache.org/manual/dirtasks.html
[2] https://g

[2017-05-29 20:06] lburgazzoli commented on #49
Could you try-out the latest 0.0.47-SNAPSHOT ?

[2017-05-31 21:06] ieugen commented on #49
How can I try it? is it published somewhere like bintray? Should I build it locally?

[2017-05-31 21:58] ieugen commented on #49
By the way, I use gradle git [1] to make releases. Bellow is a sample configuration.

You can release with:

[code]

[code]

[1] https://github.com/ajoberstar/gradle-git/wiki/Release-Plugins

[2017-06-01 07:37] lburgazzoli commented on #49
Yeah, it is on OSS Sonatype

https://oss.sonatype.org/content/repositories/snapshots/com/github/lburgazzoli/gradle-karaf-plugin/

[2017-06-01 09:04] ieugen commented on #49
Works great. Thanks. I would like to use it soon to make a first release of the features project. When do you think you can make a release?

[2017-06-01 09:23] lburgazzoli commented on #49
It is on gradle plugin portal now

https://plugins.gradle.org/plugin/com.github.lburgazzoli.karaf

[2017-06-01 09:23] #49 closed

[2017-06-08 20:35] ieugen opened #50 "What is the proper way to publish features file to a maven repository and other"
Hi,

I'm building  feature that I would like to publish to a maven repository, maybe alongside the kar archive.
How can I publish it with the `maven-publish` plugin.

Ideally this (or something similar) should be enough:

[code]
However, it currently fails because:
[code]

[2017-06-08 20:55] ieugen commented on #50
it seems this works for the feature, but not for the kar archive.

[code]

[2017-06-12 15:46] rikaateabug opened #51 "Disable automatic wrapping for WAR projects"
I'm having some issues creating a working features.xml using the gradle configuration setup with a WAR project. The WAR project alone builds correctly, and an osgi friendly WAR is created that I can deploy in karaf.

However, when I add it to the features gradle file is produces the following:
`<bundle>mvn:com.project.blah/gradeWeb/2.1.0-SNAPSHOT</bundle>
<bundle>war:mvn:com.project.blah/gradeWeb/

[2017-06-27 05:41] lburgazzoli commented on #51
I'm a little busy at the moment, will have a look as soon as I have some free time

[2017-06-27 05:42] lburgazzoli commented on #50
I'm a little busy at the moment, will have a look as soon as I have some free time

[2017-07-07 13:12] lburgazzoli commented on #51
@rikaateabug

I'm unsure if what I did is the best way to fix this issue so it may change in the future but can you give a try to the latest snapshot available on sonatype oss ?

https://oss.sonatype.org/content/repositories/snapshots/com/github/lburgazzoli/gradle-karaf-plugin/0.0.48-SNAPSHOT/

[2017-07-11 15:02] rikaateabug commented on #51
This fixed the issue thanks!

[2017-07-13 05:27] lburgazzoli commented on #51
Version 0.0.48 has been released

[2017-07-13 05:27] #51 closed

[2017-07-17 16:28] DanAngelus opened #54 "Unable to generate <bundle /> in features.xml with dependency flag"
Hi,

I've been migrating a project over to Gradle and attempting to use your plugin to generate the features.xml but I seem to get a lot of "extra" information in there than I really need and I can't seem to add any bundles as dependencies.

Here is my configuration:
[code]

I've attached the actual output and the output that I'd like to achieve, are you able to help or am I attempting something t

[2017-07-17 16:49] lburgazzoli commented on #54
Can you share also your dependecies list and configurations ?

[2017-07-17 17:12] DanAngelus commented on #54
Dependencies:
[code]

I tried adding a `fuseXml` configuration to include the missing bundles but it didn't add them as dependencies so I removed it:
[code]
Note: `group`, `artifactName` and `version` are passed in from the gradle.properties

[2017-07-17 17:18] lburgazzoli commented on #54
I think the issue is documentation :)

configuration --> append configurations so it append fuseXml to runtime
configurations --> set the configurations to use

So I get you should change from

    configuration 'fuseXml'

to

    configurations 'fuseXml'

[2017-07-18 08:43] DanAngelus commented on #54
Thanks for your help.

I tried your suggestion and it **is** now including the missing the entries but they aren't marked as dependencies (it's also still including the other long list of compile time dependencies that I don't really want in my features.xml)

My updated configuration:
[code]

Exception thrown with `dependency = true` is:
` Could not set unknown property 'dependency' for object of

[2017-07-18 08:48] lburgazzoli commented on #54
I will have a look but in the gradle file I see

[code]

Does that means that fuseXml contains also the runtime/compile dependencies ?

[2017-07-18 08:56] DanAngelus commented on #54
No the other dependencies are all `compile`, only those 3 are in the `fuseXml` configuration but it seems to be including all of the compile time dependencies as well.

To avoid confusion, here is my build.gradle file:
[code]

[2017-07-18 08:59] lburgazzoli commented on #54
I will have a look

[2017-07-18 10:25] lburgazzoli commented on #54
I've created an example based on your build here: https://github.com/lburgazzoli/gradle-karaf-plugin-examples/tree/master/issue-54 (I've removed some fuse bits)

Running:

    gradle clean generateFeatures

It generates:

[code]

Which I think is closed to what you'd expect, correct ?

[2017-07-18 10:42] DanAngelus commented on #54
That is exactly what I'm looking for.

I will copy your configuration into my own and let you know the result.

[2017-07-18 10:45] lburgazzoli commented on #54
btw, you should also run the clean task as sometimes it fails to catch up with the changes.

[2017-07-18 10:56] DanAngelus commented on #54
That's solved it! I realise now where I was going wrong so I can go ahead and add this plugin to my other Fuse projects.

Thank you very much for your quick help, it's much appreciated.

[2017-07-18 11:03] lburgazzoli commented on #54
Btw there is also a gitter room if needed https://gitter.im/lburgazzoli/gradle-karaf-plugin

[2017-07-18 11:23] #54 closed

[2017-08-11 10:39] tonit commented on #50
Wouldn't you attach the files to your project, where they are picked up by the publish plugin automatically?
E.g.
`
configurations {
archives.extendsFrom feature
}
`
given that your karaf plugin contributes to the "feature" configuration? That works well for us!
(both publishing to local maven but also uploading to nexus)

[2017-08-11 10:43] tonit opened #55 "capability generation only allows one service capability, which is wrong"
Capabilities can be numerous per feature, and they are not required to be unique by type (e.g. osgi.service). You can have many service capabilities in a feature.

[2017-08-11 10:44] tonit commented on #55
will add a pr on this

[2017-08-11 12:48] #55 closed

[2017-08-11 12:50] #43 closed

[2017-08-11 12:57] tonit commented on #43
sorry, actually forgot about it. But I think we managed it back then. Thanks!

[2017-08-11 13:07] tonit commented on #55
thanks, @lburgazzoli

[2017-08-11 13:10] lburgazzoli opened #58 "Update to gradle 4.1"

[2017-08-11 13:30] lburgazzoli commented on #55
A new 0.0.49 should be out

[2017-08-11 13:35] tonit commented on #55
awesome: https://plugins.gradle.org/plugin/com.github.lburgazzoli.karaf

[2017-09-08 19:27] elpinjo opened #59 "project dependency does not have a version"
I have bnd project consisting of 3 sub-projects.
one sub project is the karaf "feature" project, the two other projects are my provider bundle and application bundle.

the build.gradle of the "feature" project contains the following dependencies:

dependencies {
  iot project(':com.iotapp.provider')
  iot project(':com.iotapp.application')
  mqtt 'org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.

[2017-09-11 09:16] lburgazzoli commented on #59
Do you have a sample project to share ? that would speed up my investigation :)

[2017-09-13 22:08] elpinjo commented on #59
I have created a sample project. You can clone it from: https://github.com/elpinjo/featureSample.git

[2017-09-15 06:41] lburgazzoli commented on #59
I never tested the plugin against bnd stuffs so it may require more time to check if there is any bug but what I've noticed is that your projects do not have aversion defined, could you do so and test it again ?

[2017-09-17 19:45] elpinjo commented on #59
Explicitly setting the version in gradle.properties works, however, this version will not endup in my OSGI bundles as bnd uses its version from the workspace.
I'm trying to get these to link together, but don't know how yet as my experience is lacking a bit in the field of bnd and gradle.

[2017-09-18 08:37] lburgazzoli commented on #59
The plugin relies on gradles's dependency resolution so if gradle doesn't know the version the plugin doesn't too.

Unfortunately I never worked with such combination so I can't help much.

If you find a way I'd really be happy if you can send a PR to the readme so others can benefit.

[2017-10-21 02:04] crosscontrol opened #60 "During a composite build, the parent jar is copied in place of all composite build jars in the generated kar"
When generating a kar from a gradle composite build, the composite build project jar is copied in place of all of the included includeBuild('projectPath') jar files.

To reproduce the problem, please see the attached zip file.

Extract the zip file and run `gradlew jar generateFeatures generateKar` from the _karafPluginCompositeBug_ directory.

Now extract _ProjectA.jar_ from the exploded kar dire

[2017-10-21 07:23] lburgazzoli commented on #60
I have not yet looked at composite builds, I hope ti have time while working on full gradle 4.x support

[2017-10-21 07:28] crosscontrol commented on #60
Okay. I am new to groovy and gradle but I can try to look into it more. What development tools do you recommend to debug this?

[2017-10-21 07:30] lburgazzoli commented on #60
I use Jetrbrains IDEA but any ide with groovy support should be enough

[2017-10-25 01:26] crosscontrol commented on #60
I think I have a pretty good idea of the problem... I'm pretty new to gradle and your plugin so bear with me.

The issue is in [KarafFeaturesUtils.groovy](https://github.com/lburgazzoli/gradle-karaf-plugin/blob/master/src/main/groovy/com/github/lburgazzoli/gradle/plugin/karaf/features/KarafFeaturesUtils.groovy).

It looks like the code returns the path to the parent composite project every time an

[2017-10-25 05:11] lburgazzoli commented on #60
I need to digg into it a little more as I do not remember but you are free to open a PR and I will check it

[2017-10-31 22:45] crosscontrol commented on #60
I have a fix for this. I created a fix branch based off of the .49 tag since there seem to be some bugs in the current commits (config file resolution). I didn't have time to look into that for now. Here is the [fix branch](https://github.com/chesapeaketech/gradle-karaf-plugin/tree/Fix-60).

[2018-01-03 18:55] realPyR3X opened #62 "ServiceMix (Karaf) Custom Distribution"
Hello,

I'm looking for an easy to create a custom distribution of Apache ServiceMix preconfigured with my application packaged as a KAR. I have a Gradle multi project where the root has a configuration to download and expand a clean copy of Apache ServiceMix. Each subproject inherits from a common.gradle which uses 'org.dm.bundle' to generate OSGi bundles from each subproject. The idea is that ea

[2018-01-05 08:04] lburgazzoli commented on #62
It sounds possible but I can't tell without a sample, do you have one ?

[2018-01-05 14:22] realPyR3X commented on #62
[example.zip](https://github.com/lburgazzoli/gradle-karaf-plugin/files/1606809/example.zip)
Hello,

I've attached some build configuration files the layout of the project would be the following:

example/
---- build.gradle
---- settings.gradle
---- common.gradle
---- example-core/
           -build.gradle
---- example-security/
           -build.gradle

The root project would download a clean serv

[2018-01-09 15:48] realPyR3X commented on #62
I guess what I'm really looking for is if it's possible when defining a feature in the root project to the set the configuration to a subprojects dependencies.

[2018-01-09 18:04] #62 closed

[2018-10-31 19:38] restlesswind opened #63 "gradle generateFeatures fails in multi project build with dependency substitution"
[mock.zip](https://github.com/lburgazzoli/gradle-karaf-plugin/files/2536073/mock.zip)
Hi,

I suspect this is a problem of the plugin. The problem encountered is that gradle generateFeatures will fail in a multi project build scenario if dependency substitution is configured (flow-collection/build.gradle). If you commented out the following lines, the build will pass. mock examples attached (will n

[2018-12-22 17:30] realPyR3X commented on #63
I run a multi-project build with this plug-in and do not have any issues. I don't think you are using this plugin correctly. You should have a karaf block in your root project and define a feature. I usually create a feature with a configuration of the set of subprojects that I have (i.e. Bundles).

[2018-12-22 17:32] realPyR3X opened #64 "Kar not generated after updating to Gradle 5.1-rc-3"
After upgrading to Gradle 5.1-rc-3 a KAR file is no longer produced in the build/karaf/kar directory. In fact, it's not created at all. Everything works as expected in Gradle 5.0.

[2018-12-22 18:07] lburgazzoli commented on #64
I have not tested it at all in 5.x do you mind to help?

On Sat, 22 Dec 2018 at 18:32, realPyR3X <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-12-23 23:43] realPyR3X commented on #47
Any updates on this? I'd be willing to help as well. I sort of skipped over maven from ant directly to gradle. Rather than learn maven I'd like to focus on getting full support for this with gradle.

[2018-12-23 23:46] realPyR3X opened #65 "KAR generation does properly package dependencies with classifiers."
It would seem that maven dependencies with classifiers are not properly picked up and packaged in the output KAR file. I have the following dependencies that are not being packaged.

dependencies {
  implementation 'com.github.jnr:jffi:1.2.18:complete'
  implementation 'com.github.jnr:jffi:1.2.18:native'
}

[2018-12-23 23:47] realPyR3X commented on #64
Yes. I'm up against a tight deadline right now but afterward I will help.

V/r,

-Charlie

[2018-12-24 15:04] lburgazzoli commented on #47
Any help is more than welcome, I’m not doing much OSGi these days so this
is not on my top priority list.

On Mon, 24 Dec 2018 at 00:43, realPyR3X <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-12-29 13:47] lburgazzoli commented on #65
Fixed by https://github.com/lburgazzoli/gradle-karaf-plugin/pull/67

[2018-12-29 13:47] #65 closed

[2019-01-04 18:03] realPyR3X commented on #64
The issue with Gradle 5.1 is an API change to AbstractArchiveTask (inherited from Zip and then Jar). They have made the properties such as 'archiveExtension' and 'archiveBaseName' private and final. The way to change them would be 'getArchiveBaseName().set('features.name')', however, we cannot do this in the copy method because it won't take effect. It needs to be done in the constructor but if we

[2019-01-05 16:43] #64 closed

[2019-01-05 18:18] realPyR3X commented on #64
Hi Luca,

While the correct calls are being made now, this didn't resolve the original issue. I have a distribution task that uses a CopySpec to 'from generateKar' to copy the created KAR to a directory. The values are defaulting to 'project.name-project.version.jar' in the libs directory instead of 'features.name-features.version.kar' in the 'build/karaf/kar' directory.

Things will work if you s

[2019-01-05 21:52] lburgazzoli commented on #64
can you send a pr to test your issue? there is a test case you can use as a
base.

That woukd help me to understand the problem

On Sat, 5 Jan 2019 at 19:18, realPyR3X <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-04-29 06:06] cetra3 commented on #64
@lburgazzoli I have this issue too.  Is this task closed because it's resolved in newer versions of the plugin?

[2019-04-29 06:40] lburgazzoli commented on #64
It should be part of version, 0.5.1
If the issue is not solved, can you send a pr with a test reproducer ?

[2019-04-29 06:55] cetra3 commented on #64
It doesn't appear to be resolved.   I can see that the `features` and `kar` directory are present, but no `kar` archive is created.

Steps to replicate are easy, but I'm not sure how you want me to shape the PR:

* Install Gradle V 5 +
* Run `gradle generateKar`
* No `kar` file is generated in the build dir.

[2019-05-02 12:08] eximius313 opened #69 "Unable to use install="auto""
Karaf allows for such syntax:
`<feature name="my-feature" version="0.0.1" install="auto">`

Unfortunately, when I try:
[code]
I got:
`> Could not set unknown property 'install' `

[2019-05-02 12:14] eximius313 opened #70 "Unable to install "self" as a bundle"
I'd like to create feature, that installs bundle, which is the output of `./gradle build`
In features.xml I'd use:
[code]
But `gradle-karaf-plugin` ignores anything that is not in `dependencies` section, so this:
[code]
generates just:
`  <feature name="my-bundle" version="0.0.1-SNAPSHOT" />`

[2019-05-02 12:18] lburgazzoli commented on #70
this is expected, the plugins relies on gradle's dependencies set-up.
the `bundle` instruction you can use in the `feture` block is used to customize the given bundle

[2019-05-02 12:21] eximius313 commented on #70
so how I can achieve what I want and produce:
[code]
?

[2019-05-02 12:25] lburgazzoli commented on #70
You can create a custom configuration in gradle and you can add your dependencies there, if you look at the main readme you can see a number of configurations, like hazelcast and related dependencies added to those configurations. then you can see that the hazelcast configuration is used in the hazelcast feature

[2019-05-02 12:44] eximius313 commented on #70
1) I've read readme, but it contains a lot of noise and is not clear
2) I've modified my build.gradle like this:
[code]
but they're still empty

[2019-05-02 12:47] lburgazzoli commented on #70
need to test, but do your deps exists and available somewhere in a repository ?

[2019-05-02 12:47] eximius313 commented on #70
yes, in maven local

[2019-05-02 12:56] lburgazzoli commented on #70
need to check

[2019-05-02 13:01] eximius313 commented on #70
Ok, I've cleaned the build and now the configuration above indeed generates required bundles.
I'm closing this issue, but if you could make readme more clear (reduce unnecessay noise, leave only whats really needed to demonstrate the feature and describe what configurations do - it would be great).
Thank you in advance

[2019-05-02 13:01] #70 closed

[2019-05-02 13:30] eximius313 opened #71 "Improvements to readme"
1) Karaf 4 section shows:
[code]
Shouldn't it be:
[code]
?

2) features name should include version in documentation. Instead of:
[code]
Readme should rather show:
[code]
3) Both features.name and features.outputFile  could be also showed in the main example
4) Instead of using plenty od configurations and dependencies - why not use just two?
[code]
Moreover - using real names such as commons or j

[2019-05-02 13:31] lburgazzoli commented on #71
cane you send a pr ?

[2019-05-02 13:32] eximius313 commented on #71
what about 1? which is correct?

[2019-05-02 13:44] lburgazzoli commented on #71
Yes

Name should be automatically determined from the project name, as far as I can remember but I could be wrong

We can certainly reduce the number of configurations, about the commons names well it is a matter of gradle knowledge but we can certainly change them

[2019-05-02 13:55] eximius313 commented on #71
Ok, so this is `build.gradle`
[code]
that generates:
[code]

What do you think?

[2019-05-02 13:58] lburgazzoli commented on #71
looks ok, can you send a pr ?

[2019-05-02 13:59] eximius313 commented on #71
yes

[2019-05-02 14:11] eximius313 commented on #71
https://github.com/lburgazzoli/gradle-karaf-plugin/pull/72

[2019-05-02 14:19] eximius313 commented on #71
Build failed because of lack of JDK - I think it's not related do docs.
One mre thing:
[code]
seems to be completly ignored in favor of `version` from root of the file. Why is it for then?

[2019-05-02 14:22] lburgazzoli commented on #71
afaik this is feture version

[2019-05-02 15:04] eximius313 commented on #71
no, it never occurrs in feature.xml file. Could you please check this out?
Also: what `file` in `configFile` is supposed to do? Because it also seems to be ignored

[2019-05-08 02:43] cetra3 commented on #64
@lburgazzoli Can I get your help on how best to approach the PR?

[2019-05-08 03:21] realPyR3X commented on #64
@cetra3 check your build/libs directory it should generate the project-version.jar there. This is actually the kar file and you can just rename the file appropriately in Gradle. It will take some investigation as to why this is happening I deduced the issue before but recall at the time not knowing a good solution.

[2019-07-31 10:40] eximius313 commented on #71
@lburgazzoli May I ask you for veryfying what this
[code]
is used for?
I've checked everything and it seems to be ignored everywhere.

[2019-08-12 03:52] cetra3 commented on #64
Here's a workaround for anyone wanting to resolve this until it's fixed properly:

[code]

[2020-03-03 22:49] vlsi opened #75 "Add ability to firstLevelModuleDependencies from a configuration only"
Currently, the plugin is not compatible with Gradle`s Dependency Constraints feature.

Sample: `isTransitive=true`

[code]

`isTransitive=false`

[code]

The bom is not expanded, so Gradle can't really resolve the versions.

I would suggest adding `firstLevelModuleDependencies` flag for feature configuration

[2020-03-04 07:33] vlsi opened #76 "Please consider migrating from Closure to Action<T> in API"
See: https://discuss.gradle.org/t/in-general-would-action-not-configuration-closures-be-the-first-choice/7069/2?u=vlsi

The current API is very awkward for using with both Kotlin and Java.

Here's an example of generating a feature with Kotlin:

[code]

There are at least three issues here:
1) `features(Closure)`. I workaround that thanks to Kotlin's `.apply {` which executes a block with a given

[2020-03-04 07:36] lburgazzoli commented on #76
When I started the project, kotlin was not even a thing in the gradle land :) and now I have a very limited time to work on the project.

Do you have any time to help migrating from Closure to Action<T> ?

[2020-03-04 07:38] lburgazzoli commented on #75
I can look into it but I have very limited time, in the meantime, if you have any spare cycle and can send a PR, that would be really appreciated.

[2020-03-04 08:28] vlsi commented on #76
Well, I'm not fluent in Groovy, so it might be faster to rewrite the whole thing in Kotlin, however, I'm not sure if you are open to that way of `migrating from Closure to Action`.

[2020-03-04 08:32] lburgazzoli commented on #76
I don't have any objection :)

[2020-03-04 17:26] vlsi commented on #75
Ok, I learned a bit on features, and it looks like `firstLevelModuleDependencies` makes no sense at all.

[2020-03-04 17:26] #75 closed

[2022-06-05 16:53] vlsi opened #80 "KarafFeaturesTask property 'karaf' is missing an input or output annotation"
When updating https://github.com/pgjdbc/pgjdbc to Gradle 7 I faced an issue with karaf plugin.

A problem was found with the configuration of task ':postgresql:generateFeatures' (type 'KarafFeaturesTask').
  - In plugin 'com.github.lburgazzoli.karaf' type 'com.github.lburgazzoli.gradle.plugin.karaf.features.KarafFeaturesTask' property 'karaf' is missing an input or output annotation.
    Reason: A

[2022-06-05 16:55] vlsi commented on #80
It looks like the needed `@Internal` annotation was already suggested in https://github.com/lburgazzoli/gradle-karaf-plugin/pull/79/files#diff-413c0098dfc6c882caab78c3f545c012e7fe128ce025c67d4691cdeb13133e9eR38

[2022-06-05 16:59] vlsi commented on #80
@lburgazzoli , would you please add `@Internal` to https://github.com/lburgazzoli/gradle-karaf-plugin/blob/a9c83a8f27e6b16889ec233edbbbfd54a34e7c15/src/main/groovy/com/github/lburgazzoli/gradle/plugin/karaf/KarafTaskTrait.groovy#L37 ?

Do you think you would have time to release a new version `gradle-karaf-plugin` in the foreseeable future?

[2022-06-09 11:33] vlsi commented on #80
It looks like the project has been abandoned, so I created a fork to fix the issue: https://github.com/vlsi/gradle-karaf-plugin

[2022-06-09 11:35] lburgazzoli commented on #80
I merged a similar PR recently https://github.com/lburgazzoli/gradle-karaf-plugin/pull/81

[2022-06-09 12:20] lburgazzoli commented on #80
Wonder if the project should support to publish to gradle plugin only at this stage

[2022-06-09 12:47] vlsi commented on #80
I used to publish my plugins to both Central and GPP. The primary reason was that GPP rejected PGP signatures, so there was no way to verify the artifacts. That limitation seems to be lifted.

Another thing that comes to my mind is that GPP seems to be limited to a single maintainer per plugin only. I believe that is inconvenient for cases when multiple people might want to release the plugin.

Of

[2022-06-09 14:30] lburgazzoli commented on #80
I'll try to do a release tomorrow, then we can discuss how to move forward

[2022-06-09 15:50] vlsi commented on #80
Here's the current Gradle recommendation regarding several maintainers for a plugin:

[2022-06-10 14:26] lburgazzoli commented on #80
@vlsi I've published 0.5.4 to gradle plugin https://plugins.gradle.org/plugin/com.github.lburgazzoli.karaf, unfortunately I'm having troubles with maven central so that's the maximum I can do

[2022-06-10 14:29] vlsi commented on #80
GPP is enough for me for now.
Thank you

[2022-06-12 08:32] vlsi opened #82 "The AbstractArchiveTask.classifier, extension property has been deprecated"
https://docs.gradle.org/7.4.2/dsl/org.gradle.api.tasks.bundling.AbstractArchiveTask.html#org.gradle.api.tasks.bundling.AbstractArchiveTask:classifier

Build scan: https://scans.gradle.com/s/d6ybdmfkporew/deprecations?expanded=WyI0Il0&expanded-stacktrace=WyI2Il0&focused-stack-frame=0-0-5 , https://scans.gradle.com/s/d6ybdmfkporew/deprecations?expanded=WyIxMiJd&expanded-stacktrace=WyIxNCJd&focused-s

[2022-06-12 13:33] #82 closed